.page.home .modal.edit-acount {
    background-color: rgba(0, 0, 0, 0.275);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cascadia Mono", sans-serif;

    .content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: white;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.368);
        border-radius: 3px;
        width: calc(100% - 20px);
        max-width: 450px;
        padding: 10px;

        .head {
            display: flex;
            justify-content: space-between;
            border-bottom: solid 2px black;
            padding-bottom: 5px;

            h2 {
                font-size: 1rem;
            }
        }

        .data {
            display: flex;
            gap: 20px;

            .img {

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 3.5rem;
                    width: 120px;
                    height: 120px;
                    border-radius: 10px;
                    color: white;
                    background-color: rgb(0, 26, 91);
                }

                svg {
                    width: 100px;
                    height: 100px;
                    color: white;
                    background-color: rgb(0, 26, 91);
                    padding: 10px;
                    align-self: center;
                    border-radius: 10px;
                    cursor: default;

                    &.fa-user {
                        width: 80px;
                        height: 80px;
                        padding: 20px;
                    }
                }
            }



            .info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 120px;

                h3 {
                    font-size: .9rem;
                    margin-bottom: 5px;
                }

                p {
                    font-size: .9rem;
                }

                span {
                    cursor: pointer;
                    font-size: .9rem;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                nav {
                    display: flex;
                    justify-content: flex-end;
                    gap: 10px;

                    button {
                        background-color: rgb(71, 71, 255);
                        color: white;
                        font-family: "Cascadia Mono", sans-serif;
                        font-size: .7rem;
                        padding: 10px;
                        font-weight: 400;
                        --back: rgb(0, 0, 117);
                        --color: white;
                    }
                }
            }
        }
    }

    .form-edit-acount {
        background-color: rgba(0, 0, 0, 0.275);
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Cascadia Mono", sans-serif;

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
            background-color: white;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.368);
            border-radius: 3px;
            width: calc(100% - 20px);
            max-width: 450px;
            padding: 10px;

            .head {
                display: flex;
                justify-content: space-between;
                border-bottom: solid 2px black;
                padding-bottom: 5px;

                h2 {
                    font-size: 1rem;
                }
            }

            .inputs {
                display: flex;
                flex-direction: column;
                gap: 15px;

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;

                    label {
                        font-size: .9rem;
                        opacity: .7;
                    }

                    input {
                        padding: 10px;
                        font-size: .9rem;
                        font-family: "Cascadia Mono", sans-serif;
                        background-color: rgb(236, 236, 255);

                        &:focus {
                            background-color: rgb(109, 109, 255);
                            color: white;
                        }
                    }
                }
            }

            nav {
                display: flex;
                justify-content: flex-end;
                gap: 10px;
                width: 100%;

                button {
                    padding: 10px;
                    font-size: .8rem;
                    font-weight: 450;
                    font-family: "Cascadia Mono", sans-serif;

                    background-color: rgb(109, 109, 255);
                    color: white;
                    --back:blue;
                    --color: white;
                }
            }
        }
    }
}