.page.home {
    main {
        .sect {
            &.habilidades {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                .head {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 15px;
                    grid-area: top;

                    h2 {
                        font-size: 1.8rem;
                        margin-bottom: 5px;
                    }

                    p {
                        text-align: center;
                        font-weight: 450;
                        font-size: .9rem;
                    }
                }

                .list {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 20px 30px;
                    border-radius: 3px;
                    background-color: rgba(240, 248, 255, 0.355);

                    p {
                        text-align: center;
                        font-weight: 550;
                    }

                    div {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        gap: 20px;
                    }

                    svg {
                        width: 30px;
                        height: 30px;
                        padding: 15px;
                        border-radius: 10px;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.064);
                        background-color: white;
                        font-size: 2rem;

                        &:hover {
                            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.248);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 980px) {
    .page.home {
        main {
            .sect {
                &.habilidades {
                    display: flex;
                    flex-direction: column;

                    .head {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h2 {
                            font-size: 1.8rem;
                        }
                    }

                    .list {
                        gap: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 510px) {
    .page.home {
        main {
            .sect {
                &.habilidades {
                    .head {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h2 {
                            font-size: 1.8rem;
                        }
                    }

                    .list {
                        gap: 15px;
                    }
                }
            }
        }
    }
}