.page.home {
    main {
        .sect {
            &.projetos {
                .head {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 20px;

                    h2 {
                        font-size: 1.8rem;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: .9rem;
                    }
                }

                .list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 30px;
                    margin-bottom: 30px;

                    div.card {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 10px;
                        width: 350px;
                        background-color: white;
                        border-radius: 3px;
                        border: solid 2px rgb(0, 0, 141);
                        cursor: pointer;
                        transition: .2s;
                        position: relative;
                        overflow: hidden;
                        animation: var(--show-top);

                        &:hover {
                            scale: 1.005;

                            .img {

                                &::after {
                                    opacity: 1 !important;
                                }
                            }

                            nav {
                                right: 0px;
                            }
                        }

                        .img {
                            position: relative;
                            margin-bottom: 10px;
                            overflow: hidden;
                            border-radius: 5px;
                            max-width: 100%;

                            &[load]::after {
                                opacity: 0;
                                animation: none !important;
                                background: transparent;
                                transition: .4s;
                            }

                            &::after {
                                content: "";
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                left: 0;
                                border-radius: 5px;
                                background: linear-gradient(90deg, rgb(255, 255, 255), rgb(216, 216, 216), rgb(255, 255, 255));
                                opacity: 1;
                                transition: .5s;
                                animation: background-move 2s infinite;
                                background-size: 400%;
                            }

                            img {
                                max-width: 100%;
                            }
                        }

                        .info {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: 100%;
                            padding: 10px;
                            border-radius: 5px;
                            background-color: rgba(220, 220, 220, 0.182);

                            h4 {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                font-size: 1.3rem;
                                margin-bottom: 10px;

                                img{
                                    width: 20px;
                                }
                            }

                            p {
                                word-break: break-word;
                                font-size: .8rem;
                                margin-bottom: 10px;
                                height: 100%;
                            }

                            div {
                                display: flex;
                                gap: 15px;
                                font-size: 1.5rem;
                                pointer-events: none;
                            }
                        }

                        nav {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            position: absolute;
                            top: 0px;
                            right: -100px;
                            transition: .2s;
                            padding: 3px;
                            background-color: inherit;
                            box-shadow: 0 0 5px inherit;
                            border-bottom-left-radius: 5px;

                            svg {
                                font-size: .75rem;
                                border-radius: 50%;
                                padding: 11px 11.5px;
                                background-color: rgb(0, 21, 255);
                                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.494);
                                color: white;
                                transition: .2s;

                                &:hover {
                                    background-color: black;
                                }

                                &.fa-link {
                                    padding: 11px 8.5px;
                                }
                            }
                        }
                    }
                }

                .navigation {
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    nav {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        button {
                            background-color: white;
                            padding: 10px 12.5px;
                            border-radius: 50%;
                            --back: rgba(255, 255, 255, 0.281);

                            svg {
                                transition: initial;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 980px) {
    .page.home {
        main {
            .sect {
                &.projetos {
                    .head {

                        h2 {
                            margin-bottom: 10px;
                        }

                        p {
                            font-size: .9rem;
                        }
                    }

                    .list {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 10px;
                        margin-bottom: 30px;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);

                        div.card {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 10px;
                            width: 100%;
                            background-color: white;
                            border-radius: 3px;
                            border: solid 2px rgb(0, 0, 141);
                            cursor: pointer;
                            transition: .2s;

                            &:hover {
                                scale: 1.003;
                            }

                            .img {
                                min-height: (100% + 100px);
                            }

                            .info {
                                width: 100%;

                                h4 {
                                    font-size: 1rem;
                                    margin-bottom: 10px;
                                }

                                p {
                                    word-break: break-word;
                                    font-size: .7rem;
                                    margin-bottom: 10px;
                                }

                                div {
                                    font-size: 1.5rem;
                                }
                            }

                            nav {
                                flex-direction: row;
                                top: 0px;
                                right: 0px;

                                svg {
                                    font-size: .8rem !important;

                                    &.fa-link {
                                        padding: 10px 9px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 510px) {
    .page.home {
        main {
            .sect {
                &.projetos {
                    .head {

                        h2 {
                            margin-bottom: 10px;
                        }

                        p {
                            font-size: .9rem;
                        }
                    }

                    .list {
                        display: flex;

                        gap: 10px;
                        margin-bottom: 30px;

                        div.card {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 10px;

                            background-color: white;
                            border-radius: 3px;
                            border: solid 2px rgb(0, 0, 141);
                            border: none;
                            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.239);
                            cursor: pointer;
                            transition: .2s;

                            &:hover {
                                scale: 1.005;

                                img::after {
                                    opacity: 1;
                                }
                            }

                            .info {
                                width: 100%;
                                padding: 10px;

                                h4 {
                                    font-size: .72rem;
                                    margin-bottom: 5px;
                                }

                                p {
                                    font-weight: 500;
                                    word-break: break-word;
                                    font-size: .55rem;
                                    margin-bottom: 10px;
                                }

                                div {
                                    display: flex;
                                    gap: 15px;
                                    font-size: 1.2rem !important;
                                }
                            }

                            nav {
                                flex-direction: row;
                                top: 0px;
                                right: 0px;

                                svg {
                                    font-size: .85rem !important;
                                    padding: 8px 8.5px;

                                    &.fa-link {
                                        padding: 8px 7px !important;
                                    }

                                    &.fa-image {
                                        padding: 8px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}