.modal.view-project {
    font-family: "Cascadia Mono", sans-serif !important;
    background-color: rgba(0, 0, 0, 0.713);
    backdrop-filter: blur(2px);

    display: flex;
    justify-content: center;
    align-items: center;

    &[open] .content {
        animation: var(--show-top);
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: calc(100% - 20px);
        background-color: rgb(149, 170, 255);
        border-radius: 5px;
        background-color: transparent;
        position: relative;

        .fa-xmark {
            margin-top: 10px;
            font-size: 1.3rem;
            z-index: 2;
            background-color: white;
            border-radius: 50%;
            padding: 5px 8px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.34);

            &:hover {
                background-color: rgb(4, 0, 255);
                color: white;
            }
        }

        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: center;
            width: 100%;
            max-width: 900px;
            overflow: hidden;

            .slide-base {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                width: fit-content;
                max-width: 900px;
                position: relative;

                nav {
                    position: absolute !important;
                    z-index: 1;
                    bottom: 0;
                    width: 100%;
                    padding-block: 20px 10px;

                    button {
                        border: none;
                        box-shadow: 0 0 5px rgb(0, 0, 0);

                        &[selected] {
                            background-color: rgb(0, 0, 0);
                        }
                    }
                }

                .item {
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    min-height: 200px;
                    position: relative;

                    &[load] {
                        &::after {
                            opacity: 0;
                        }
                    }

                    &::after {
                        content: "";
                        width: 100%;
                        min-height: 100%;

                        background: linear-gradient(35deg, rgb(232, 232, 232), rgb(208, 208, 208), rgb(232, 232, 232));
                        background-size: 400%;

                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;

                        opacity: 1;
                        transition: .2s;
                        animation: background-move 1s infinite;
                    }

                    img {
                        height: auto;
                        max-height: calc(100vh - 120px);
                        width: 100%;
                        min-height: 56.22%;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}