.modal.view-project {
    font-family: "Cascadia Mono", sans-serif !important;
    background-color: rgba(0, 0, 0, 0.566);

    display: flex;
    justify-content: center;
    align-items: center;

    &[open] .content {
        animation: var(--show-top);
    }

    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: calc(100% - 20px);
        background-color: rgb(149, 170, 255);
        border-radius: 5px;
        overflow: hidden;

        .head {
            display: flex;
            justify-content: space-between;
            background-color: white;
            padding: 15px 10px;

            h2 {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                color: rgb(117, 117, 117);

                span {
                    color: black;
                }
            }

            .fa-xmark {
                font-size: 1.5rem;
                margin-right: 5px;
            }
        }

        .main {
            .slide-imgs {
                display: flex;
                justify-content: center;
                padding-top: 10px;

                .item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    max-width: 900px;
                    display: none;
                    position: relative;

                    &[view="true"] {
                        display: flex;
                    }

                    &[load]::after {
                        opacity: 0;
                    }

                    &::after {
                        content: "";
                        width: 100%;
                        height: 100%;

                        background: linear-gradient(35deg, rgb(232, 232, 232), rgb(175, 171, 255), rgb(232, 232, 232));
                        background-size: 400%;

                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;

                        opacity: 1;
                        transition: .2s;
                        animation: background-move 1s infinite;
                    }

                    img {
                        width: 100%;
                        min-height: 56.22%;
                    }
                }

                &+nav {
                    display: flex;
                    justify-content: center;
                    padding: 10px;
                    gap: 10px;

                    button {
                        border-radius: 50%;
                        padding: 5px;
                        background-color: rgb(255, 255, 255);
                        border: solid 2px black;

                        &[selected="true"] {
                            background-color: black;
                        }
                    }
                }
            }


        }
    }
}